<div class="row">
    <div class="col-sm-6 col-md-3 offset-md-4 offset-sm-3">
        <h1>Checkout</h1>
        <h3>Your Total: ${{total}}</h3>
        <div id="charge-error" class="alert alert-danger" {{# if noErrors}}hidden{{/if}}>
            {{errMsg}}
        </div>
        <form action="/checkout" method="POST">

        </form>
    </div>
</div>