<div class="card-deck">
    <div class="card">
        <img class="card-img-top img-fluid" src=".../100px180/" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid architecto doloribus esse eum exercitationem hic minima nesciunt, quaerat quod repellat sapiente tenetur, vel voluptates! Aliquid nobis numquam reiciendis unde ut?</p>
        </div>
        <div class="card-footer">
            <div class="price float-left">$12</div>
            <a href="#" class="btn btn-success float-right">Go somewhere</a>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top img-fluid" src=".../100px180/" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam quibusdam soluta voluptate. Accusantium alias aliquam cumque delectus magni modi natus nobis numquam odio, officiis perspiciatis, quae quia, quos reprehenderit saepe.</p>
        </div>
        <div class="card-footer">
            <div class="price float-left">$18</div>
            <a href="#" class="btn btn-success float-right">Go somewhere</a>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top img-fluid" src=".../100px180/" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A autem, beatae corporis enim eos ex explicabo facere fuga ipsam nostrum nulla numquam obcaecati officia optio, quae rerum sunt temporibus veniam?</p>
        </div>
        <div class="card-footer">
            <div class="price float-left">$22</div>
            <a href="#" class="btn btn-success float-right">Go somewhere</a>
        </div>
    </div>
</div>
<div class="card-deck">
    <div class="card">
        <img class="card-img-top img-fluid" src=".../100px180/" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid architecto doloribus esse eum exercitationem hic minima nesciunt, quaerat quod repellat sapiente tenetur, vel voluptates! Aliquid nobis numquam reiciendis unde ut?</p>
        </div>
        <div class="card-footer">
            <div class="price float-left">$12</div>
            <a href="#" class="btn btn-success float-right">Go somewhere</a>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top img-fluid" src=".../100px180/" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam quibusdam soluta voluptate. Accusantium alias aliquam cumque delectus magni modi natus nobis numquam odio, officiis perspiciatis, quae quia, quos reprehenderit saepe.</p>
        </div>
        <div class="card-footer">
            <div class="price float-left">$18</div>
            <a href="#" class="btn btn-success float-right">Go somewhere</a>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top img-fluid" src=".../100px180/" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A autem, beatae corporis enim eos ex explicabo facere fuga ipsam nostrum nulla numquam obcaecati officia optio, quae rerum sunt temporibus veniam?</p>
        </div>
        <div class="card-footer">
            <div class="price float-left">$22</div>
            <a href="#" class="btn btn-success float-right">Go somewhere</a>
        </div>
    </div>
</div>